@font-face {
	font-family: "Encode Sans Wide Medium";
	src: url("../../fonts/wide/EncodeSansWide-Medium.eot");
	src: url("../../fonts/wide/EncodeSansWide-Medium.woff") format("woff"),
		 url("../../fonts/wide/EncodeSansWide-Medium.ttf") format("truetype"),
		 url("../../fonts/wide/EncodeSansWide-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}
