@font-face {
	font-family: "Encode Sans Condensed Thin";
	src: url("../../fonts/condensed/EncodeSansCondensed-Thin.eot");
	src: url("../../fonts/condensed/EncodeSansCondensed-Thin.woff") format("woff"),
		 url("../../fonts/condensed/EncodeSansCondensed-Thin.ttf") format("truetype"),
		 url("../../fonts/condensed/EncodeSansCondensed-Thin.svg") format("svg");
	font-weight: 200;
	font-style: normal;
}
