@font-face {
	font-family: "Encode Sans Narrow";
	src: url("../fonts/narrow/EncodeSansNarrow-Regular.eot");
	src: url("../fonts/narrow/EncodeSansNarrow-Regular.woff") format("woff"), 
		 url("../fonts/narrow/EncodeSansNarrow-Regular.ttf") format("truetype"), 
		 url("../fonts/narrow/EncodeSansNarrow-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Encode Sans Narrow";
	src: url("../fonts/narrow/EncodeSansNarrow-Medium.eot");
	src: url("../fonts/narrow/EncodeSansNarrow-Medium.woff") format("woff"), 
		 url("../fonts/narrow/EncodeSansNarrow-Medium.ttf") format("truetype"), 
		 url("../fonts/narrow/EncodeSansNarrow-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Encode Sans Narrow";
	src: url("../fonts/narrow/EncodeSansNarrow-SemiBold.eot");
	src: url("../fonts/narrow/EncodeSansNarrow-SemiBold.woff") format("woff"), 
		 url("../fonts/narrow/EncodeSansNarrow-SemiBold.ttf") format("truetype"), 
		 url("../fonts/narrow/EncodeSansNarrow-SemiBold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Encode Sans Narrow";
	src: url("../fonts/narrow/EncodeSansNarrow-Bold.eot");
	src: url("../fonts/narrow/EncodeSansNarrow-Bold.woff") format("woff"),
		 url("../fonts/narrow/EncodeSansNarrow-Bold.ttf") format("truetype"),
		 url("../fonts/narrow/EncodeSansNarrow-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Encode Sans Narrow";
	src: url("../fonts/narrow/EncodeSansNarrow-ExtraBold.eot");
	src: url("../fonts/narrow/EncodeSansNarrow-ExtraBold.woff") format("woff"), 
		 url("../fonts/narrow/EncodeSansNarrow-ExtraBold.ttf") format("truetype"), 
		 url("../fonts/narrow/EncodeSansNarrow-ExtraBold.svg") format("svg");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Encode Sans Narrow";
	src: url("../fonts/narrow/EncodeSansNarrow-Black.eot");
	src: url("../fonts/narrow/EncodeSansNarrow-Black.woff") format("woff"), 
		 url("../fonts/narrow/EncodeSansNarrow-Black.ttf") format("truetype"), 
		 url("../fonts/narrow/EncodeSansNarrow-Black.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Encode Sans Narrow";
	src: url("../fonts/narrow/EncodeSansNarrow-Light.eot");
	src: url("../fonts/narrow/EncodeSansNarrow-Light.woff") format("woff"), 
		 url("../fonts/narrow/EncodeSansNarrow-Light.ttf") format("truetype"), 
		 url("../fonts/narrow/EncodeSansNarrow-Light.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Encode Sans Narrow";
	src: url("../fonts/narrow/EncodeSansNarrow-ExtraLight.eot");
	src: url("../fonts/narrow/EncodeSansNarrow-ExtraLight.woff") format("woff"), 
		 url("../fonts/narrow/EncodeSansNarrow-ExtraLight.ttf") format("truetype"), 
		 url("../fonts/narrow/EncodeSansNarrow-ExtraLight.svg") format("svg");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Encode Sans Narrow";
	src: url("../fonts/narrow/EncodeSansNarrow-Thin.eot");
	src: url("../fonts/narrow/EncodeSansNarrow-Thin.woff") format("woff"), 
		 url("../fonts/narrow/EncodeSansNarrow-Thin.ttf") format("truetype"), 
		 url("../fonts/narrow/EncodeSansNarrow-Thin.svg") format("svg");
	font-weight: 200;
	font-style: normal;
}
