@font-face {
	font-family: "Encode Sans";
	src: url("../fonts/EncodeSans-Regular.eot");
	src: url("../fonts/EncodeSans-Regular.woff") format("woff"),
		 url("../fonts/EncodeSans-Regular.ttf") format("truetype"),
		 url("../fonts/EncodeSans-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
