@font-face {
	font-family: "Encode Sans Thin";
	src: url("../fonts/EncodeSans-Thin.eot");
	src: url("../fonts/EncodeSans-Thin.woff") format("woff"),
		 url("../fonts/EncodeSans-Thin.ttf") format("truetype"),
		 url("../fonts/EncodeSans-Thin.svg") format("svg");
	font-weight: 200;
	font-style: normal;
}
