@font-face {
	font-family: "Encode Sans SemiBold";
	src: url("../fonts/EncodeSans-SemiBold.eot");
	src: url("../fonts/EncodeSans-SemiBold.woff") format("woff"),
		 url("../fonts/EncodeSans-SemiBold.ttf") format("truetype"),
		 url("../fonts/EncodeSans-SemiBold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}
