@font-face {
	font-family: "Encode Sans Light";
	src: url("../fonts/EncodeSans-Light.eot");
	src: url("../fonts/EncodeSans-Light.woff") format("woff"),
		 url("../fonts/EncodeSans-Light.ttf") format("truetype"),
		 url("../fonts/EncodeSans-Light.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}
